<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
    <%- include('../partials/nav') %>
  </header>
    <!-- START NAV -->
    <!-- <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="../">
                    <img src="../images/bulma.png" alt="Logo">
                </a>
                <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
                <span></span>
                <span></span>
                </span>
            </div>
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item is-active">
                            Home
                        </a>
                    <a class="navbar-item">
                            Examples
                        </a>
                    <a class="navbar-item">
                            Features
                        </a>
                    <a class="navbar-item">
                            Team
                        </a>
                    <a class="navbar-item">
                            Archives
                        </a>
                    <a class="navbar-item">
                            Help
                        </a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                                Account
                            </a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item">
                                    Dashboard
                                </a>
                            <a class="navbar-item">
                                    Profile
                                </a>
                            <a class="navbar-item">
                                    Settings
                                </a>
                            <hr class="navbar-divider">
                            <div class="navbar-item">
                                Logout
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav> -->
    <!-- END NAV -->

    <!-- <section class="hero is-info is-medium is-bold">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">About Us</h1>
            </div>
        </div>
    </section> -->

    <section class="section has-background-success">
        <div class="container">
          <div class="is-vcentered columns">
            <div class="column is-full">
              <h2 class="has-text-white has-text-centered mt-2 mb-3 is-size-1 is-size-3-mobile has-text-weight-bold">About Us</h2>
            </div>
          </div>
        </div>
      </section>


    <div class="container">
        <!-- START ARTICLE FEED -->
        <section class="articles">
            <div class="column is-8 is-offset-2">
                <!-- START ARTICLE -->
                <div class="card article">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content has-text-centered">
                                <p class="title article-title">Our Mission and Values</p>
                                <!-- <div class="tags has-addons level-item">
                                    <span class="tag is-rounded is-info">@skeetskeet</span>
                                    <span class="tag is-rounded">May 10, 202X</span>
                                </div> -->
                            </div>
                        </div>
                        <div class="content article-body">
                            <p>At Healthline, we strive to provide essential COVID-19, dermatology, nutrition, dental, 
                                pediatric and physiotherapic services. </p>
                            <p>Dermatological care is critical to addressing health care inequity and we are expanding access 
                                to these services. Increasing access to dermatological care will allow for earlier detection 
                                of life-threatening conditions such as skin cancer and provide the preventative treatment 
                                necessary to help improve health inequities.</p>
                            <p>Healthline provides evidence-based food and beverage recommendations for Americans across the 
                                lifespan. These recommendations aim to promote health and prevent chronic disease.</p>
                            <p>Whether you're looking for general information related to child health or for more specific guidance on parenting issues, 
                                you've come to the right place. Here, you'll find information regarding many programs and activities, our policies and
                                 guidelines, our publications and other child health resources, 
                                as well as much, much more. Best of all, you can rest assured that the information comes from leading child health 
                                experts and that 
                                we have scientific research supporting our recommendations</p>
                            <p>Healthline is focused on the delivery of exceptional dental care, provided by a staff of knowledgeable, 
                                caring people. We consider our patients to be our most valued assets and we treat them all with dignity, 
                                respect, kindness, and compassion.</p>
                            <p>In our physical therapy clinic, we offer comprehensive evaluations, hands-on / manual therapy, 
                                innovative treatment techniques, personalized exercise programs and patients' education. We use 
                                sophisticated diagnostic methods, such as movement investigation and gait analysis, to help determine 
                                which services you will benefit from the most.</p>
                            <p>Healthline provides all COVID-19 related services such as rapid testing, PCR testing, as well as COVID-19 vaccination services.
                                
                            </p>
                            
                        </div>
                    </div>
                </div>
                <!-- END ARTICLE -->
                <!-- START ARTICLE -->
                <!-- <div class="card article">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-center">
                                <img src="https://res.cloudinary.com/ameo/image/upload/v1639144778/typocat_svbspx.png" class="author-image" alt="Placeholder image">
                            </div>
                            <div class="media-content has-text-centered">
                                <p class="title article-title">Sapien eget mi proin sed 🔱</p>
                                <p class="subtitle is-6 article-subtitle">
                                    <a href="#">@daria</a> on February 17, 202X
                                </p>
                            </div>
                        </div>
                        <div class="content article-body">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Accumsan lacus vel facilisis volutpat est velit egestas. Sapien eget mi proin sed. Sit amet mattis vulputate enim.
                            </p>
                            <p>
                                Commodo ullamcorper a lacus vestibulum sed arcu. Fermentum leo vel orci porta non. Proin fermentum leo vel orci porta non pulvinar. Imperdiet proin fermentum leo vel. Tortor posuere ac ut consequat semper viverra. Vestibulum lectus mauris ultrices eros.
                            </p>
                            <h3 class="has-text-centered">Lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi. Cras tincidunt lobortis feugiat vivamus.</h3>
                            <p>
                                In eu mi bibendum neque egestas congue quisque egestas diam. Enim nec dui nunc mattis enim ut tellus. Ut morbi tincidunt augue interdum velit euismod in. At in tellus integer feugiat scelerisque varius morbi enim nunc. Vitae suscipit tellus mauris a diam.
                                Arcu non sodales neque sodales ut etiam sit amet.
                            </p>
                        </div>
                    </div>
                </div> -->
                <!-- END ARTICLE -->
                <!-- START PROMO BLOCK -->
                <!-- <section class="hero is-info is-bold is-small promo-block">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">
                                <i class="fa fa-bell-o"></i> Nemo enim ipsam voluptatem quia.</h1>
                            <span class="tag is-black is-medium is-rounded">
                                    Natus error sit voluptatem
                                </span>
                        </div>
                    </div>
                </section> -->
                <!-- END PROMO BLOCK -->
                <!-- START ARTICLE -->
                <!-- <div class="card article">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-center">
                                <img src="https://res.cloudinary.com/ameo/image/upload/v1639144778/typocat_svbspx.png" class="author-image" alt="Placeholder image">
                            </div>
                            <div class="media-content has-text-centered">
                                <p class="title article-title">Cras tincidunt lobortis feugiat vivamus.</p>
                                <p class="subtitle is-6 article-subtitle">
                                    <a href="#">@angela</a> on October 7, 202X
                                </p>
                            </div>
                        </div>
                        <div class="content article-body">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Accumsan lacus vel facilisis volutpat est velit egestas. Sapien eget mi proin sed. Sit amet mattis vulputate enim.
                            </p>
                            <p>
                                Commodo ullamcorper a lacus vestibulum sed arcu. Fermentum leo vel orci porta non. Proin fermentum leo vel orci porta non pulvinar. Imperdiet proin fermentum leo vel. Tortor posuere ac ut consequat semper viverra. Vestibulum lectus mauris ultrices eros.
                            </p>
                            <h3 class="has-text-centered">“Everyone should be able to do one card trick, tell two jokes, and recite three poems, in case they are ever trapped in an elevator.”</h3>
                            <p>
                                In eu mi bibendum neque egestas congue quisque egestas diam. Enim nec dui nunc mattis enim ut tellus. Ut morbi tincidunt augue interdum velit euismod in. At in tellus integer feugiat scelerisque varius morbi enim nunc. Vitae suscipit tellus mauris a diam.
                                Arcu non sodales neque sodales ut etiam sit amet.
                            </p>
                        </div>
                    </div>
                </div> -->
                <!-- END ARTICLE -->
              </div>

        </section>
        <!-- END ARTICLE FEED -->
        </div>
        <script async type="text/javascript" src="../js/bulma.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js'></script>
        <script>
        document.addEventListener("DOMContentLoaded", function() {
        //The first argument are the elements to which the plugin shall be initialized
        //The second argument has to be at least a empty object or a object with your desired options
        OverlayScrollbars(document.querySelectorAll("body"), { });
        });
        </script>
</body>

</html>