<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin - Free Bulma template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/admin.css">
</head>

<body>

    <section class="section has-background-primary">
        <div class="container">
          <div class="is-vcentered columns">
            <div class="column is-full">
              <h2 class="has-text-white has-text-centered mt-2 mb-3 is-size-1 is-size-3-mobile has-text-weight-bold">HealthLine</h2>
              <h3 class="has-text-white has-text-centered mt-2 mb-3 is-size-1 is-size-3-mobile"> Book Appointments  </h3>
            </div>
          </div>
        </div>
      </section>
               
                
                </section>
                <div class="columns">
                    <div class="column is-6">
                        <div class="card events-card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Date / Times (Tomorrow)
                                </p>
                                <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a>
                            </header>
                            <div class="card-table">
                                <div class="content">
                                    <table class="table is-fullwidth is-striped">
                                        <tbody>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>07:00 AM</td>
                                                <td class="level-right"><a class="button is-small is-primary" href="#">Book</a></td>
                                            </tr>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>08:00 AM</td>
                                                <td class="level-right"><a class="button is-small is-primary" href="#">Book</a></td>
                                            </tr>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>09:00 AM</td>
                                                <td class="level-right"><a class="button is-small is-secondary" href="#">Not available</a></td>
                                            </tr>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>10:00 AM</td>
                                                <td class="level-right"><a class="button is-small is-primary" href="#">Book</a></td>
                                            </tr>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>11:00 AM</td>
                                                <td class="level-right"><a class="button is-small is-secondary" href="#">Not available</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#" class="card-footer-item">View All</a>
                            </footer>
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Services Available
                                </p>
                                <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a>
                            </header>
                    
                              
                              <div class="buttons">
                                <button class="button is-info is-light">Dental</button>
                                <button class="button is-success is-light">Nutrition</button>
                                <button class="button is-warning is-light">Dermatology</button>
                                <button class="button is-danger is-light"> COVID-19 </button>
                                <button class="button is-link is-light"> Pediatrics </button>
                                <button class="button is-primary is-light">Physiotherapy</button>
                                
                              </div>
                        </div>
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Current Appointments
                                </p>
                                <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a>
                            </header>
                            <div class="card-content">
                                <div class="content">
                                    <div class="control has-icons-left has-icons-right">
                                           - Tomorrow 11:00 AM; Dermatology <br>
                                           - Tomorrow 02:00 PM; Nutrition <br>
                                           - Tomorrow 04:00 PM; Dental
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script async type="text/javascript" src="../js/bulma.js"></script>
</body>

</html>