<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

 <section class="section has-background-success">
    <div class="container">
      <div class="is-vcentered columns">
        <div class="column is-full">
          <h2 class="has-text-white has-text-centered mt-2 mb-3 is-size-1 is-size-3-mobile has-text-weight-bold">How can we help?</h2>
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="hero is-fullheight">
    <div class="hero-body"> -->
        <section class="container has-text-centered">
            <div class="columns is-8 is-variable ">
                <div class="column is-two-third">
                    <div class="box content">
                        <article class="post has-text-left">
                            <h4>Do you have covid testing services?</h4>
                            <div class="media">
                                <div class="media-left">
                                </div>
                                <div class="media-content">
                                    <div class="content has-text-left">
                                        <p>
                                            Yes - we have covid testing services. <br><br>
                                        </p>

                                    </div>
                                </div>
                                <div class="media-right">
                                    <span class="has-text-grey-light"><i class="fa fa-comments"></i> 1</span>
                                </div>
                            </div>
                        </article>
                        <article class="post has-text-left">
                            <h4>Can I call for a same day appointment for an evaluation and diagnosis?</h4>
                            <div class="media">
                                <div class="media-left">
                        
                                </div>
                                <div class="media-content">
                                    <div class="content has-text-left">
                                        <p>
                                            Yes – Please call as soon as possible if you are experiencing an urgent medical matter 
                                            that needs to be evaluated by our practice. We will do our best to fit you into the schedule 
                                            and see you as soon as we can. We are here to help you! If you are experiencing a true medical 
                                            emergency – please call 911 or go to the nearest emergency room. <br><br>
                                        </p>
                                    </div>
                                </div>
                                <div class="media-right">
                                    <span class="has-text-grey-light"><i class="fa fa-comments"></i> 0</span>
                                </div>
                            </div>
                        </article>
                        <article class="post has-text-left">
                            <h4>Who do I contact in the event of an urgent matter?</h4>
                            <div class="media">
                                <div class="media-left">
                                   
                                </div>
                                <div class="media-content">
                                    <div class="content has-text-left">
                                        <p>
                                            Call 917-704-6690 and have a provider paged if you have a medical question that
                                            needs to be answered promptly and cannot wait until the next business day. We will 
                                            endeavor to answer your inquiry as soon as possible. <br><br>
                                        </p>
                                    </div>
                                </div>
                                <div class="media-right">
                                    <span class="has-text-grey-light"><i class="fa fa-comments"></i> 13</span>
                                </div>
                            </div>
                        </article>
                        <article class="post has-text-left">
                            <h4>Will I be charged for a less than 24 hour cancelled appointment or if I “no-show”?</h4>
                            <div class="media">
                                <div class="media-left">
                                    
                                </div>
                                <div class="media-content">
                                    <div class="content has-text-left">
                                        <p>
                                            Yes – Every scheduled appointment occupies a time slot with a provider that 
                                            could be utilized by another patient who is unwell or would like to undergo a 
                                            comprehensive skin cancer screening examination. <br><br>
                                        </p>
                                    </div>
                                </div>
                                <div class="media-right">
                                    <span class="has-text-grey-light"><i class="fa fa-comments"></i> 2</span>
                                </div>
                            </div>
                        </article>
                        <!-- <article class="post">
                            <h4>I'm trying to use hamburger menu on bulma css, but it doesn't work. What is wrong?</h4>
                            <div class="media">
                                <div class="media-left">
                                    <p class="image is-32x32">
                                        <img src="http://bulma.io/images/placeholders/128x128.png">
                                    </p>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <a href="#">@hamburgler</a> replied 5 hours ago &nbsp;
                                            <span class="tag">Question</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="media-right">
                                    <span class="has-text-grey-light"><i class="fa fa-comments"></i> 2</span>
                                </div>
                            </div>
                        </article>
                        <article class="post">
                            <h4>How to make tiles wrap with Bulma CSS?</h4>
                            <div class="media">
                                <div class="media-left">
                                    <p class="image is-32x32">
                                        <img src="http://bulma.io/images/placeholders/128x128.png">
                                    </p>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <a href="#">@rapper</a> replied 3 hours ago &nbsp;
                                            <span class="tag">Question</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="media-right">
                                    <span class="has-text-grey-light"><i class="fa fa-comments"></i> 2</span>
                                </div>
                            </div>
                        </article> -->
                    </div>
                </div>

                <div class="column is-one-third has-text-left">
                    <div class = "is-size-3 has-text-centered"> <h1>Shoot us a question!</h1> </div>
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input class="input is-medium" type="text">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                            <input class="input is-medium" type="text">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Question</label>
                        <div class="control">
                            <textarea class="textarea is-medium"></textarea>
                        </div>
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-link is-fullwidth has-text-weight-medium is-medium is-success">Send Question</button>
                    </div>
                </div>
            </div>
        </section>
    <!-- </div>
</section> -->



  <!-- <p class = "custom_hero_FAQ"></p>

  <div class="block">
    This text is within a <strong>block</strong>.
  </div>
  <div class="block">
    This text is within a <strong>second block</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
  </div>
  <div class="block">
    This text is within a <strong>third block</strong>. This block has no margin at the bottom.
  </div> -->

  <!-- <div class="columns">
    <div class="column">  
        <div class="block">
            <p class="custom_FAQ_text"> Do you have covid testing services? </p>
            <p class="custom_FAQ_A"> Yes we offer sameday services </p>
        </div>
        <div class="block">
            <p class="custom_FAQ_text"> Can I call for a same day appointment for an evaluation and diagnosis? </p>
            <p class="custom_FAQ_A"> Yes – Please call as soon as possible if you are experiencing an urgent medical matter that needs to be evaluated by our practice. </p>
        </div>
        <div class="block">
            <p class="custom_FAQ_text"> Who do I contact in the event of an urgent matter? </p>
            <p class="custom_FAQ_A"> Please contact us at 917-704-6690 or email us at services@healthline.com. </p>
        </div>
        <div class="block">
            <p class="custom_FAQ_text"> Will I be charged for a less than 24 hour cancelled appointment or if I “no-show”? </p>
            <p class="custom_FAQ_A"> Yes – Every scheduled appointment occupies a time slot with a provider that could be utilized by another patient who is unwell or would like to undergo a comprehensive examination. </p>
        </div>

    </div> -->

    <!-- <div class="columns">
        <div class="column is-two-thirds"> 
            <div class="block">
                Do you have covid testing services?
                Yes we offer sameday services. 
            </div>
            <div class="block">
                Can I call for a same day appointment for an evaluation and diagnosis?
                Yes – Please call as soon as possible if you are experiencing an urgent medical matter that needs to be evaluated by our practice.
            </div>
            <div class="block">
                Who do I contact in the event of an urgent matter? 
                Please contact us at 917-704-6690 or email us at services@healthline.com. 
            </div>
            <div class="block">
                Will I be charged for a less than 24 hour cancelled appointment or if I “no-show”? 
                Yes – Every scheduled appointment occupies a time slot with a provider that could be utilized by another patient who is unwell or would like to undergo a comprehensive examination.
            </div>
        </div>

        <div class = "column">

        </div> -->


  <!-- <div class="columns">

    <div class="column"> -->
      <!-- <section class="section"> -->
        <!-- Tagline -->
        <!-- <div>
          <p class="custom_HealthLine_Tagline"> A Personal Relationship
            With Medical Excellence </p>
        </div> -->
        <!-- services -->
        <!-- <div class="columns">
          <div class="column">
            <figure class="custom_covid_service_img">
              <img src="static/covid.png">
            </figure>        
          </div>
          <div class="column">
            <figure class="custom_derma_service_img">
              <img src="static/dermatology.png">
            </figure>        
          </div>
          <div class="column">
            <figure class="custom_nutrition_service_img">
              <img src="static/nutrition.png">
            </figure>        
          </div>
        </div> -->
      <!-- </section> -->
    <!-- </div>

    <div class="column">
      <figure class="image">
        <img src="static/backgroung_img.png">
      </figure>
    </div> -->

    

  </div>

</body>

<!-- <%- include('../partials/footer') %> -->

</html>