<script>
  // Get all "navbar-burger" elements
  const navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if (navbarBurgers.length > 0) {
    // Add a click event on each of them
    navbarBurgers.forEach(burgerElement => {
      burgerElement.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = burgerElement.dataset.target;
        const targetElement = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        burgerElement.classList.toggle('is-active');
        targetElement.classList.toggle('is-active');
      });
    });
  }
</script>

<footer class="footer">
  <section class="section has-background-primary">
    <div class="container">
      <div class="columns">
        <div class="column is-full">
          <h2 class="has-text-white has-text-centered mt-2 is-size-1 is-size-3-mobile has-text-weight-bold">HealthLine</h2>
        </div>
      </div>
    </div>
  </section>
</footer>

