<head>
  <meta charset="UTF-8">
  <title>HealthLine</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- CS5356: Any global css styles can be defined here -->
  <style>
/* 
  .custom_section_bg_img {
  background-image: url("static/backgroung_img.png");
  } */

  .custom_covid_service_img{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 238px;
    top: 600px;
  }
 /* 108 + 300 + 25 + 130 */
  .custom_derma_service_img{
    position: absolute;
    width: 300px;
    height: 300;
    left: 563px;
    top: 600px;
  }
/* 433 + 300 + 25 */
  .custom_nutrition_service_img{
    position: absolute;
    width: 300px;
    height: 300;
    left: 888px;
    top: 600px;
  }

  .custom_footer{
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0px;
    bottom: 0;
    background: #358600;
  }

  .custom_HealthLine_Tagline{
    position: absolute;
    width: 735px;
    height: 107px;
    left: 238px;
    top: 270px;

    font-family: 'Molengo';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    display: flex;
    align-items: center;

    color: #000000;
  }

  .custom_healthline_heading{
   /* HealthLine */
    position: absolute;
    width: 317px;
    height: 145px;
    left: 572px;
    top: -9px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #9EE37D;
 }

 .custom_bookappt{
  position: absolute;
width: 371px;
height: 65px;
left: 545px;
top: 120px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
display: flex;
align-items: center;
text-align: center;

color: #358600;
 }

.custom_services_selected{
  position: absolute;
width: 405px;
  height: 64px;
  left: 137px;
  top: 294px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #358600;
 }

 .custom_datetime{
  position: absolute;
width: 405px;
height: 64px;
left: 962px;
top: 294px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;

color: #358600;
 }


 .custom_section_bg_img {
  background-image: url('static/backgroung_img.png');
  background-repeat: no-repeat;
  background-position: 90% 0%;

}

.custom_footer {
   position:absolute;
   bottom:10%;
   width:100%;
   height:10%;   /* Height of the footer */
   background:#6cf;
}

img {
  border-radius: 8%;
}




  </style>
</head>